[submodule "external/catpuccin-bat"]
	path = external/catpuccin-bat
	url = https://github.com/catppuccin/bat.git
[submodule "external/catpuccin-atuin"]
	path = external/catpuccin-atuin
	url = https://github.com/catppuccin/atuin.git
[submodule "external/catpuccin-btop"]
	path = external/catpuccin-btop
	url = https://github.com/catppuccin/btop.git
[submodule "external/catpuccin-k9s"]
	path = external/catpuccin-k9s
	url = https://github.com/catppuccin/k9s
[submodule "external/catppuccin-fsh"]
	path = external/catppuccin-fsh
	url = https://github.com/catppuccin/zsh-fsh.git
