### Configs directory specific ###
# tmux plugins
tmux/.config/tmux/plugins

# lazygit state file
lazygit/.config/lazygit/state.yml

# zsh completions cache files
zsh/.config/zsh/.zcompcache/*
zsh/.config/zsh/.zcompdump

# sqlite db files
*.sqlite

# exclude extra git config files which are mostly private
git/.config/git/include/

zsh/.config/zsh/conf/extra/*.zsh
