### Configs directory specific ###
# tmux plugins
tmux/.config/tmux/plugins

# lazygit state file
lazygit/.config/lazygit/state.yml

# zsh completions cache files
zsh/.config/zsh/.zcompcache/*
zsh/.config/zsh/.zcompdump

# sqlite db files
*.sqlite

# exclude private git config files
git/.config/git/private/
