# yamllint disable rule:line-length
# yamllint disable rule:comments
#
# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json
#
# Default config: https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#default
gui:
  screenMode: normal # normal is the best option
  language: en
  nerdFontsVersion: "3"
  skipDiscardChangeWarning: true
  skipStashWarning: true
  showRandomTip: false
  splitDiff: auto
  border: rounded
  commitLength:
    show: false
  showCommandLog: false
  showBottomLine: false
  showPanelJumps: false
git:
  pagers:
    - colorArg: always
      pager: |
        delta --no-gitconfig --paging=never \
          --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}" \
          --line-numbers \
          --syntax-theme="catppuccin-frappe" \
          --file-style="brightyellow bold" \
          --file-decoration-style="none"
  merging:
    # The commit message to use for a squash merge commit. Can contain "{{selectedRef}}" and "{{currentBranch}}" placeholders.
    squashMergeMessage: Merge branch '{{selectedRef}}' into '{{currentBranch}}'
  # 40 means disable truncation.
  truncateCopiedCommitHashesTo: 40
keybinding:
  universal:
    prevItem-alt: k # go one line up
    nextItem-alt: j # go one line down
    prevBlock-alt: h # goto the previous block / panel
    nextBlock-alt: l # goto the next block / panel
promptToReturnFromSubprocess: false
